In [0]:
%pip install polars-lts-cpu

Python interpreter will be restarted.
Collecting polars-lts-cpu
  Downloading polars_lts_cpu-0.20.23-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.5 MB)
Installing collected packages: polars-lts-cpu
Successfully installed polars-lts-cpu-0.20.23
Python interpreter will be restarted.

In [0]:
%fs ls /FileStore/tables/veera

path,name,size,modificationTime
dbfs:/FileStore/tables/veera/Customer.csv,Customer.csv,65558,1714409597000
dbfs:/FileStore/tables/veera/Product.csv,Product.csv,142954,1714409598000
dbfs:/FileStore/tables/veera/Sales.csv,Sales.csv,1007318,1714409598000
dbfs:/FileStore/tables/veera/application_data_1lakh.csv,application_data_1lakh.csv,76523094,1714138725000

In [0]:
spark_df_customer = spark.read.csv("/FileStore/tables/veera/Customer.csv", header=True, inferSchema=True)
spark_df_customer.head(7)

Out[1]: [Row(CustomerID='CG-12520', CustomerName='Claire Gute', Segment='Consumer', Age=67, Country='United States', City='Henderson', State='Kentucky', PostalCode=42420, Region='South'),
 Row(CustomerID='DV-13045', CustomerName='Darrin Van Huff', Segment='Corporate', Age=31, Country='United States', City='Los Angeles', State='California', PostalCode=90036, Region='West'),
 Row(CustomerID='SO-20335', CustomerName="Sean O'Donnell", Segment='Consumer', Age=65, Country='United States', City='Fort Lauderdale', State='Florida', PostalCode=33311, Region='South'),
 Row(CustomerID='BH-11710', CustomerName='Brosina Hoffman', Segment='Consumer', Age=20, Country='United States', City='Los Angeles', State='California', PostalCode=90032, Region='West'),
 Row(CustomerID='AA-10480', CustomerName='Andrew Allen', Segment='Consumer', Age=50, Country='United States', City='Concord', State='North Carolina', PostalCode=28027, Region='South'),
 Row(CustomerID='IM-15070', CustomerName='Irene Maddox', Segment='Consumer', Age=66, Country='United States', City='Seattle', State='Washington', PostalCode=98103, Region='West'),
 Row(CustomerID='HP-14815', CustomerName='Harold Pawlan', Segment='Home Office', Age=20, Country='United States', City='Fort Worth', State='Texas', PostalCode=76106, Region='Central')]

In [0]:
# to pandas
pandas_df_customer = spark_df_customer.toPandas()
pandas_df_customer.head(5)

,CustomerID,CustomerName,Segment,Age,Country,City,State,PostalCode,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [0]:
# to polars
import polars as pl

In [0]:
polars_df_customer = pl.from_pandas(pandas_df_customer)
polars_df_customer.head(5)

CustomerID,CustomerName,Segment,Age,Country,City,State,PostalCode,Region
str,str,str,i32,str,str,str,i32,str
"""CG-12520""","""Claire Gute""","""Consumer""",67,"""United States""","""Henderson""","""Kentucky""",42420,"""South"""
"""DV-13045""","""Darrin Van Huff""","""Corporate""",31,"""United States""","""Los Angeles""","""California""",90036,"""West"""
"""SO-20335""","""Sean O'Donnell""","""Consumer""",65,"""United States""","""Fort Lauderdale""","""Florida""",33311,"""South"""
"""BH-11710""","""Brosina Hoffman""","""Consumer""",20,"""United States""","""Los Angeles""","""California""",90032,"""West"""
"""AA-10480""","""Andrew Allen""","""Consumer""",50,"""United States""","""Concord""","""North Carolina""",28027,"""South"""

In [0]:
spark_df_products = spark.read.csv("/FileStore/tables/veera/Product.csv", header=True, inferSchema=True)
pandas_df_products = spark_df_products.toPandas()
polars_df_products = pl.from_pandas(pandas_df_products)
polars_df_products.head(5)

Product ID,Category,Sub-Category,Product Name
str,str,str,str
"""FUR-BO-10001798""","""Furniture""","""Bookcases""","""Bush Somerset Collection Bookc…"
"""FUR-CH-10000454""","""Furniture""","""Chairs""","""Hon Deluxe Fabric Upholstered …"
"""OFF-LA-10000240""","""Office Supplies""","""Labels""","""Self-Adhesive Address Labels f…"
"""FUR-TA-10000577""","""Furniture""","""Tables""","""Bretford CR4500 Series Slim Re…"
"""OFF-ST-10000760""","""Office Supplies""","""Storage""","""Eldon Fold N Roll Cart System"""

In [0]:
spark_df_sales = spark.read.csv("/FileStore/tables/veera/Sales.csv", header=True, inferSchema=True)
pandas_df_sales = spark_df_sales.toPandas()
polars_df_sales = pl.from_pandas(pandas_df_sales)
polars_df_sales.head(5)

Order Line,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit
i32,str,date,date,str,str,str,f64,i32,f64,f64
1,"""CA-2016-152156""",2016-11-08,2016-11-11,"""Second Class""","""CG-12520""","""FUR-BO-10001798""",261.96,2,0.0,41.9136
2,"""CA-2016-152156""",2016-11-08,2016-11-11,"""Second Class""","""CG-12520""","""FUR-CH-10000454""",731.94,3,0.0,219.582
3,"""CA-2016-138688""",2016-06-12,2016-06-16,"""Second Class""","""DV-13045""","""OFF-LA-10000240""",14.62,2,0.0,6.8714
4,"""US-2015-108966""",2015-10-11,2015-10-18,"""Standard Class""","""SO-20335""","""FUR-TA-10000577""",957.5775,5,0.45,-383.031
5,"""US-2015-108966""",2015-10-11,2015-10-18,"""Standard Class""","""SO-20335""","""OFF-ST-10000760""",22.368,2,0.2,2.5164

In [0]:
import time

st_time = time.time()
spark_df_application = spark.read.csv("/FileStore/tables/veera/application_data_1lakh.csv", header=True, inferSchema=True)
pandas_df_application = spark_df_application.toPandas()
ed_time = time.time()
pandas_df_application.head(5)

total_time = str(ed_time-st_time)
print(total_time)

24.27271842956543

In [0]:
import time

st_time = time.time()
spark_df_application = spark.read.csv("/FileStore/tables/veera/application_data_1lakh.csv", header=True, inferSchema=True)
pandas_df_application = spark_df_application.toPandas()
polars_df_application = pl.from_pandas(pandas_df_application)
ed_time = time.time()
polars_df_application.head(5)

total_time = str(ed_time-st_time)
print(total_time)

21.697641372680664

In [0]:
pandas_df_customer.head(5)

,CustomerID,CustomerName,Segment,Age,Country,City,State,PostalCode,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [0]:
polars_df_customer.head(5)

CustomerID,CustomerName,Segment,Age,Country,City,State,PostalCode,Region
str,str,str,i32,str,str,str,i32,str
"""CG-12520""","""Claire Gute""","""Consumer""",67,"""United States""","""Henderson""","""Kentucky""",42420,"""South"""
"""DV-13045""","""Darrin Van Huff""","""Corporate""",31,"""United States""","""Los Angeles""","""California""",90036,"""West"""
"""SO-20335""","""Sean O'Donnell""","""Consumer""",65,"""United States""","""Fort Lauderdale""","""Florida""",33311,"""South"""
"""BH-11710""","""Brosina Hoffman""","""Consumer""",20,"""United States""","""Los Angeles""","""California""",90032,"""West"""
"""AA-10480""","""Andrew Allen""","""Consumer""",50,"""United States""","""Concord""","""North Carolina""",28027,"""South"""

In [0]:
pandas_df_products.head(5)

,Product ID,Category,Sub-Category,Product Name
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs ...
2,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System

In [0]:
polars_df_products.head(5)

Product ID,Category,Sub-Category,Product Name
str,str,str,str
"""FUR-BO-10001798""","""Furniture""","""Bookcases""","""Bush Somerset Collection Bookc…"
"""FUR-CH-10000454""","""Furniture""","""Chairs""","""Hon Deluxe Fabric Upholstered …"
"""OFF-LA-10000240""","""Office Supplies""","""Labels""","""Self-Adhesive Address Labels f…"
"""FUR-TA-10000577""","""Furniture""","""Tables""","""Bretford CR4500 Series Slim Re…"
"""OFF-ST-10000760""","""Office Supplies""","""Storage""","""Eldon Fold N Roll Cart System"""

In [0]:
pandas_df_sales.head(5)

,Order Line,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,FUR-BO-10001798,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,FUR-CH-10000454,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,OFF-LA-10000240,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2,0.20,2.5164

In [0]:
polars_df_sales.head(5)

Order Line,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit
i32,str,date,date,str,str,str,f64,i32,f64,f64
1,"""CA-2016-152156""",2016-11-08,2016-11-11,"""Second Class""","""CG-12520""","""FUR-BO-10001798""",261.96,2,0.0,41.9136
2,"""CA-2016-152156""",2016-11-08,2016-11-11,"""Second Class""","""CG-12520""","""FUR-CH-10000454""",731.94,3,0.0,219.582
3,"""CA-2016-138688""",2016-06-12,2016-06-16,"""Second Class""","""DV-13045""","""OFF-LA-10000240""",14.62,2,0.0,6.8714
4,"""US-2015-108966""",2015-10-11,2015-10-18,"""Standard Class""","""SO-20335""","""FUR-TA-10000577""",957.5775,5,0.45,-383.031
5,"""US-2015-108966""",2015-10-11,2015-10-18,"""Standard Class""","""SO-20335""","""OFF-ST-10000760""",22.368,2,0.2,2.5164

In [0]:
pandas_df_application.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002.0,1.0,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003.0,0.0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004.0,0.0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006.0,0.0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007.0,0.0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
polars_df_application.head(5)

SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,…,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
f64,f64,str,str,str,str,f64,f64,f64,f64,f64,str,str,str,str,str,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,str,f64,f64,f64,str,f64,f64,f64,f64,…,f64,str,str,f64,str,str,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64,f64
100002.0,1.0,"""Cash loans""","""M""","""N""","""Y""",0.0,202500.0,406597.5,24700.5,351000.0,"""Unaccompanied""","""Working""","""Secondary / secondary special""","""Single / not married""","""House / apartment""",0.018801,-9461.0,-637.0,-3648.0,-2120.0,NaN,1.0,1.0,0.0,1.0,1.0,0.0,"""Laborers""",1.0,2.0,2.0,"""WEDNESDAY""",10.0,0.0,0.0,0.0,…,0.0,"""reg oper account""","""block of flats""",0.0149,"""Stone, brick""","""No""",2.0,2.0,2.0,2.0,-1134.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003.0,0.0,"""Cash loans""","""F""","""N""","""N""",0.0,270000.0,1293502.5,35698.5,1.1295e6,"""Family""","""State servant""","""Higher education""","""Married""","""House / apartment""",0.003541,-16765.0,-1188.0,-1186.0,-291.0,NaN,1.0,1.0,0.0,1.0,1.0,0.0,"""Core staff""",2.0,1.0,1.0,"""MONDAY""",11.0,0.0,0.0,0.0,…,0.01,"""reg oper account""","""block of flats""",0.0714,"""Block""","""No""",1.0,0.0,1.0,0.0,-828.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004.0,0.0,"""Revolving loans""","""M""","""Y""","""Y""",0.0,67500.0,135000.0,6750.0,135000.0,"""Unaccompanied""","""Working""","""Secondary / secondary special""","""Single / not married""","""House / apartment""",0.010032,-19046.0,-225.0,-4260.0,-2531.0,26.0,1.0,1.0,1.0,1.0,1.0,0.0,"""Laborers""",1.0,2.0,2.0,"""MONDAY""",9.0,0.0,0.0,0.0,…,NaN,null,null,NaN,null,null,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100006.0,0.0,"""Cash loans""","""F""","""N""","""Y""",0.0,135000.0,312682.5,29686.5,297000.0,"""Unaccompanied""","""Working""","""Secondary / secondary special""","""Civil marriage""","""House / apartment""",0.008019,-19005.0,-3039.0,-9833.0,-2437.0,NaN,1.0,1.0,0.0,1.0,0.0,0.0,"""Laborers""",2.0,2.0,2.0,"""WEDNESDAY""",17.0,0.0,0.0,0.0,…,NaN,null,null,NaN,null,null,2.0,0.0,2.0,0.0,-617.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100007.0,0.0,"""Cash loans""","""M""","""N""","""Y""",0.0,121500.0,513000.0,21865.5,513000.0,"""Unaccompanied""","""Working""","""Secondary / secondary special""","""Single / not married""","""House / apartment""",0.028663,-19932.0,-3038.0,-4311.0,-3458.0,NaN,1.0,1.0,0.0,1.0,0.0,0.0,"""Core staff""",1.0,2.0,2.0,"""THURSDAY""",11.0,0.0,0.0,0.0,…,NaN,null,null,NaN,null,null,0.0,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
# Select one or more columns from the DataFrame
two_col_customer_sp = spark_df_customer.select("CustomerName", "Country")
two_col_customer_sp.show(5)

+---------------+-------------+
|   CustomerName|      Country|
+---------------+-------------+
|    Claire Gute|United States|
|Darrin Van Huff|United States|
| Sean O'Donnell|United States|
|Brosina Hoffman|United States|
|   Andrew Allen|United States|
+---------------+-------------+
only showing top 5 rows

In [0]:
filter_age_customer_sp = spark_df_customer.filter(spark_df_customer['Age']>38)
filter_age_customer_sp.show()

+----------+------------------+-----------+---+-------------+---------------+--------------+----------+-------+
|CustomerID|      CustomerName|    Segment|Age|      Country|           City|         State|PostalCode| Region|
+----------+------------------+-----------+---+-------------+---------------+--------------+----------+-------+
|  CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|     42420|  South|
|  SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|     33311|  South|
|  AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|     28027|  South|
|  IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|     98103|   West|
|  PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|     53711|Central|
|  ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|     94109|   West|
|  KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|     68025|Central|
|  SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|     19140|   East|
|  TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|     19140|   East|
|  SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|     77041|Central|
|  RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|     90049|   West|
|  PO-18865| Patrick O'Donnell|   Consumer| 64|United States|       Westland|      Michigan|     48185|Central|
|  LH-16900|    Lena Hernandez|   Consumer| 66|United States|          Dover|      Delaware|     19901|   East|
|  DP-13000|     Darren Powers|   Consumer| 40|United States|     New Albany|       Indiana|     47150|Central|
|  KM-16720|      Kunst Miller|   Consumer| 69|United States|    Los Angeles|    California|     90004|   West|
|  BS-11590|     Brendan Sweed|  Corporate| 45|United States|        Gilbert|       Arizona|     85234|   West|
|  KD-16270|     Karen Daniels|   Consumer| 59|United States|    Springfield|      Virginia|     22153|  South|
|  DN-13690|      Duane Noonan|   Consumer| 42|United States|  San Francisco|    California|     94122|   West|
|  JC-16105|   Julie Creighton|  Corporate| 56|United States|         Durham|North Carolina|     27707|  South|
|  PG-18895|     Paul Gonzalez|   Consumer| 64|United States|      Rochester|     Minnesota|     55901|Central|
+----------+------------------+-----------+---+-------------+---------------+--------------+----------+-------+
only showing top 20 rows

In [0]:
from pyspark.sql import functions as F

# Group by one column and count another
# aggregate_customer_sp = spark_df_customer.groupBy("Country").agg(F.count("State"))
aggregate_customer_sp = spark_df_customer.groupBy("State").agg(F.count("Age"))
aggregate_customer_sp.show()

+--------------------+----------+
|               State|count(Age)|
+--------------------+----------+
|                Utah|         6|
|           Minnesota|        13|
|                Ohio|        38|
|              Oregon|         3|
|            Arkansas|         2|
|               Texas|        77|
|        Pennsylvania|        50|
|         Connecticut|         7|
|            Nebraska|         2|
|              Nevada|         2|
|          Washington|        38|
|            Illinois|        41|
|            Oklahoma|         3|
|District of Columbia|         1|
|            Delaware|         6|
|          New Mexico|         4|
|            Missouri|         6|
|        Rhode Island|         5|
|             Georgia|        17|
|            Michigan|        16|
+--------------------+----------+
only showing top 20 rows

In [0]:
print(spark_df_customer.count())
print(aggregate_customer_sp.count())

793
41

In [0]:
# order

# Sort DataFrame by a column in ascending or descending order
sort_customer_sp = spark_df_customer.orderBy(spark_df_customer["Age"].desc())
sort_customer_sp.count()
sort_customer_sp.show()

+----------+----------------+-----------+---+-------------+----------------+------------+----------+-------+
|CustomerID|    CustomerName|    Segment|Age|      Country|            City|       State|PostalCode| Region|
+----------+----------------+-----------+---+-------------+----------------+------------+----------+-------+
|  SD-20485| Shirley Daniels|Home Office| 70|United States|    New Rochelle|    New York|     10801|   East|
|  JL-15850|      John Lucas|   Consumer| 70|United States|    Philadelphia|Pennsylvania|     19134|   East|
|  JD-16060|    Julia Dunbar|   Consumer| 70|United States|   San Francisco|  California|     94109|   West|
|  KB-16315|      Karl Braun|   Consumer| 70|United States|     Minneapolis|   Minnesota|     55407|Central|
|  RB-19360|    Raymond Buch|   Consumer| 70|United States|          Auburn|    New York|     13021|   East|
|  MY-17380| Maribeth Yedwab|  Corporate| 70|United States|          Parker|    Colorado|     80134|   West|
|  NP-18325|    Naresj Patel|   Consumer| 70|United States|      Waynesboro|    Virginia|     22980|  South|
|  JF-15355|        Jay Fein|   Consumer| 70|United States|          Austin|       Texas|     78745|Central|
|  KM-16375|Katherine Murray|Home Office| 70|United States|           Salem|    Virginia|     24153|  South|
|  CD-12790| Cynthia Delaney|Home Office| 70|United States|       San Diego|  California|     92037|   West|
|  BT-11680|  Brian Thompson|   Consumer| 70|United States|          Newark|        Ohio|     43055|   East|
|  PW-19240|    Pierre Wener|   Consumer| 70|United States|      Louisville|    Colorado|     80027|   West|
|  JR-15700|  Jocasta Rupert|   Consumer| 69|United States|    Jacksonville|     Florida|     32216|  South|
|  AG-10525|    Andy Gerbode|  Corporate| 69|United States|Saint Petersburg|     Florida|     33710|  South|
|  AC-10420|   Alyssa Crouse|  Corporate| 69|United States|   San Francisco|  California|     94122|   West|
|  VM-21685| Valerie Mitchum|Home Office| 69|United States|       Westfield|  New Jersey|      7090|   East|
|  SJ-20500| Shirley Jackson|   Consumer| 69|United States|         Houston|       Texas|     77036|Central|
|  MT-18070|   Michelle Tran|Home Office| 69|United States|     Los Angeles|  California|     90045|   West|
|  KM-16720|    Kunst Miller|   Consumer| 69|United States|     Los Angeles|  California|     90004|   West|
|  AG-10675|     Anna Gayman|   Consumer| 69|United States|         Houston|       Texas|     77036|Central|
+----------+----------------+-----------+---+-------------+----------------+------------+----------+-------+
only showing top 20 rows


# SQL

In [0]:
# SQL queries

# Register the DataFrame as a temp view
spark_df_customer.createOrReplaceTempView("customer_table")

# Execute SQL query
customer_state_sql = spark.sql("SELECT * FROM customer_table WHERE State = 'Michigan'")
customer_state_sql.show()

+----------+-------------------+-----------+---+-------------+---------------+--------+----------+-------+
|CustomerID|       CustomerName|    Segment|Age|      Country|           City|   State|PostalCode| Region|
+----------+-------------------+-----------+---+-------------+---------------+--------+----------+-------+
|  PO-18865|  Patrick O'Donnell|   Consumer| 64|United States|       Westland|Michigan|     48185|Central|
|  JH-15985|        Joseph Holt|   Consumer| 51|United States|        Saginaw|Michigan|     48601|Central|
|  DS-13180|        David Smith|  Corporate| 41|United States|        Detroit|Michigan|     48227|Central|
|  LA-16780|    Laura Armstrong|  Corporate| 59|United States|         Taylor|Michigan|     48180|Central|
|  MC-17605|       Matt Connell|  Corporate| 49|United States|        Detroit|Michigan|     48234|Central|
|  SF-20965|    Sylvia Foulston|  Corporate| 64|United States|       Dearborn|Michigan|     48126|Central|
|  SC-20305|   Sean Christensen|   Consumer| 30|United States|Rochester Hills|Michigan|     48307|Central|
|  RF-19735|       Roland Fjeld|   Consumer| 38|United States|        Trenton|Michigan|     48183|Central|
|  PM-19135|        Peter McVee|Home Office| 65|United States|        Detroit|Michigan|     48227|Central|
|  MS-17365|Maribeth Schnelling|   Consumer| 55|United States|        Detroit|Michigan|     48227|Central|
|  BE-11335|        Bill Eplett|Home Office| 20|United States|        Jackson|Michigan|     49201|Central|
|  BT-11395|         Bill Tyler|  Corporate| 32|United States|        Detroit|Michigan|     48227|Central|
|  NC-18340|        Nat Carroll|   Consumer| 45|United States|        Lansing|Michigan|     48911|Central|
|  PM-18940|     Paul MacIntyre|   Consumer| 41|United States|        Jackson|Michigan|     49201|Central|
|  DM-12955|       Dario Medina|  Corporate| 26|United States|   Lincoln Park|Michigan|     48146|Central|
|  SW-20350|         Sean Wendt|Home Office| 51|United States|        Detroit|Michigan|     48227|Central|
+----------+-------------------+-----------+---+-------------+---------------+--------+----------+-------+

In [0]:
# Filter out rows with null or empty values in specific columns
customer_empty_rows = spark_df_customer.filter((spark_df_customer["PostalCode"].isNull() | spark_df_customer["PostalCode"].eqNullSafe("")) | (spark_df_customer["PostalCode"].isNull()))

# Show the resulting DataFrame
customer_empty_rows.show()

+----------+------------+-------+---+-------+----+-----+----------+------+
|CustomerID|CustomerName|Segment|Age|Country|City|State|PostalCode|Region|
+----------+------------+-------+---+-------+----+-----+----------+------+
+----------+------------+-------+---+-------+----+-----+----------+------+

In [0]:
# Filter out rows with null or empty values in specific columns
customer_empty_rows2 = spark_df_customer.filter((spark_df_customer["Region"].isNull() | spark_df_customer["Age"].eqNullSafe("")) | (spark_df_customer["City"].isNull()))

# Show the resulting DataFrame
customer_empty_rows2.show()

+----------+------------+-------+---+-------+----+-----+----------+------+
|CustomerID|CustomerName|Segment|Age|Country|City|State|PostalCode|Region|
+----------+------------+-------+---+-------+----+-----+----------+------+
+----------+------------+-------+---+-------+----+-----+----------+------+

In [0]:
# # Handling missing data

# # Drop rows with null values in specified columns
# customer_null_data = spark_df_customer.na.drop(subset=["sub_category", "unit_price"])

# # Fill null values in specified columns
# filled_df = spark_df.na.fill({"sub_category": 'empty', "unit_price": 0})

# print(cleaned_df)
# print(filled_df)